:root {
  --neutraldgrey: rgba(77, 77, 77, 1);
  --neutralwhite: rgba(255, 255, 255, 1);
  --brandprimary: rgba(76, 175, 79, 1);
  --text-gray-900: rgba(24, 25, 31, 1);
  --neutralgrey: rgba(113, 113, 113, 1);
  --neutralsilver: rgba(245, 247, 250, 1);
  --default-white: rgba(255, 255, 255, 1);
  --text-gray-300: rgba(217, 219, 225, 1);
  --neutralblack: rgba(38, 50, 56, 1);
  --shades-2: rgba(56, 142, 59, 1);
  --neutralgreyblue: rgba(171, 190, 209, 1);
  --tintt-5: rgba(232, 245, 233, 1);
  --neutrallgrey: rgba(137, 147, 158, 1);
  --body-medium-body-2-font-family: "Inter-Medium", Helvetica;
  --body-medium-body-2-font-weight: 500;
  --body-medium-body-2-font-size: 16px;
  --body-medium-body-2-letter-spacing: 0px;
  --body-medium-body-2-line-height: 24px;
  --body-medium-body-2-font-style: normal;
  --body-regular-body-3-font-family: "Inter-Regular", Helvetica;
  --body-regular-body-3-font-weight: 400;
  --body-regular-body-3-font-size: 14px;
  --body-regular-body-3-letter-spacing: 0px;
  --body-regular-body-3-line-height: 20px;
  --body-regular-body-3-font-style: normal;
  --heading-headline-4-font-family: "Inter-SemiBold", Helvetica;
  --heading-headline-4-font-weight: 600;
  --heading-headline-4-font-size: 20px;
  --heading-headline-4-letter-spacing: 0px;
  --heading-headline-4-line-height: 28px;
  --heading-headline-4-font-style: normal;
  --button-link-normal-font-family: "Inter-Regular", Helvetica;
  --button-link-normal-font-weight: 400;
  --button-link-normal-font-size: 18px;
  --button-link-normal-letter-spacing: 0px;
  --button-link-normal-line-height: 24px;
  --button-link-normal-font-style: normal;
  --button-link-medium-font-family: "Inter-Regular", Helvetica;
  --button-link-medium-font-weight: 400;
  --button-link-medium-font-size: 16px;
  --button-link-medium-letter-spacing: 0px;
  --button-link-medium-line-height: 20px;
  --button-link-medium-font-style: normal;
  --button-link-small-font-family: "Inter-Regular", Helvetica;
  --button-link-small-font-weight: 400;
  --button-link-small-font-size: 14px;
  --button-link-small-letter-spacing: 0px;
  --button-link-small-line-height: 16px;
  --button-link-small-font-style: normal;
}
