<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Add your CSS links, title, and other meta tags here -->
    <link rel="stylesheet" href="/static/baseCSS/style.css">
    <link rel="stylesheet" href="/static/baseCSS/globas.css">
    <title>Your Website Title</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<header>
    <nav class="navbar">
        <div class="box">
            <div class="NAVBAR">
                <div class="overlap">
                    <div class="text-wrapper"><a href="/">Home</a></div>
                    <p class="log-in"><span class="span"><a href="/login">Log in</a></span></p>
                    <div class="div">Haltura</div>
                    <div class="overlap-group">
                        <img class="vector" src="https://c.animaapp.com/wKv6UHIW/img/vector-4.svg"/>
                        <img class="img" src="https://c.animaapp.com/wKv6UHIW/img/vector-3.svg"/>
                        <div class="ellipse"></div>
                        <div class="ellipse-2"></div>
                    </div>
                </div>
                <div class="overlap-2">
                    <div class="rectangle"></div>
                    <div class="text-wrapper-3"><a href="/signup">Register Now</a></div>
                </div>
                <div class="overlap-3">
                    <img class="rectangle-2" src="https://c.animaapp.com/wKv6UHIW/img/rectangle-158.svg"/>
                    <div class="text-wrapper-3"><a href="/login">Log in</a></div>
                </div>
            </div>
        </div>
    </nav>
</header>


<main>
    <!-- Content of individual pages will go here -->
    {% block content %}
    {% endblock %}
</main>

<footer>
    <!-- Footer content goes here -->
</footer>

<!-- Add your JavaScript links and scripts here -->
<script src="/static/js/script.js"></script>
</body>
</html>




