<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/homeCSS/globals.css" />
    <link rel="stylesheet" href="/static/homeCSS/styleguide.css" />
    <link rel="stylesheet" href="/static/homeCSS/style.css" />
    <title></title>
<body>
    <div class="macbook-pro">
      <div class="div">
        <img
          class="group"
          src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/group-3@2x.png"
        />
        <div class="overlap">
          <div class="mobile-login-pana">
            <div class="overlap-group">
              <img
                class="background-complete"
                src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/background-complete@2x.png"
              />
              <img
                class="background-simple"
                src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/background-simple@2x.png"
              />
              <img
                class="floor"
                src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/floor@2x.png"
              />
              <img
                class="plant"
                src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/plant@2x.png"
              />
              <img
                class="padlock"
                src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/padlock@2x.png"
              />
              <div class="device">
                <div class="overlap-group-2">
                  <img
                    class="vector"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-28.svg"
                  />
                  <img
                    class="img"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-27.svg"
                  />
                  <img
                    class="vector-2"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-26.svg"
                  />
                  <div class="text-wrapper">SING UP</div>
                  <img
                    class="vector-3"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-25.svg"
                  />
                  <img
                    class="vector-3"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-24.svg"
                  />
                  <img
                    class="vector-4"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-23.svg"
                  />
                  <img
                    class="vector-5"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-22.svg"
                  />
                  <img
                    class="vector-5"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-21.svg"
                  />
                  <img
                    class="vector-6"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-20.svg"
                  />
                  <img
                    class="vector-6"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-19.svg"
                  />
                  <img
                    class="vector-7"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-18.svg"
                  />
                  <img
                    class="vector-8"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-17.svg"
                  />
                  <img
                    class="vector-8"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-16.svg"
                  />
                  <img
                    class="vector-9"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-15.svg"
                  />
                  <img
                    class="vector-10"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-14.svg"
                  />
                  <img
                    class="vector-10"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-13.svg"
                  />
                  <img
                    class="vector-11"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-12.svg"
                  />
                  <img
                    class="vector-12"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-11.svg"
                  />
                  <img
                    class="vector-13"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-10.svg"
                  />
                  <img
                    class="vector-14"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-9.svg"
                  />
                  <img
                    class="vector-15"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-8.svg"
                  />
                  <img
                    class="vector-16"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-7.svg"
                  />
                  <img
                    class="vector-17"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-6.svg"
                  />
                  <img
                    class="vector-18"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-5.svg"
                  />
                  <img
                    class="vector-19"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-4.svg"
                  />
                  <img
                    class="group-2"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/group@2x.png"
                  />
                  <img
                    class="vector-20"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-3.svg"
                  />
                  <img
                    class="vector-20"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-2.svg"
                  />
                  <img
                    class="vector-21"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector-1.svg"
                  />
                  <img
                    class="vector-21"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/vector.svg"
                  />
                </div>
              </div>
              <img
                class="speech-bubble"
                src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/speech-bubble@2x.png"
              />
              <img
                class="character"
                src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/character@2x.png"
              />
            </div>
          </div>
          <div class="section-title">Our Clients</div>
          <img
            class="clients-logos"
            src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/clients-logos.svg"
          />
          <p class="description">We have been working with some Fortune 500+ clients</p>
          <p class="p">Who is Nextcent suitable for?</p>
        </div>
        <p class="to-feel-free-to-work">
          <span class="span">To feel </span>
          <span class="text-wrapper-2">free</span>
          <span class="span"> to </span>
          <span class="text-wrapper-2">work<br /><br /></span>
        </p>
        <p class="section-title-2">Manage your entire community in a single system</p>
        <div class="achievements">
          <div class="section-heading">
            <div class="section-title-wrapper">
              <p class="section-title-3">
                <span class="span">Helping a local </span> <span class="text-wrapper-2">business reinvent itself</span>
              </p>
            </div>
            <p class="description-2">We reached here with our hard work and dedication</p>
          </div>
          <div class="counts">
            <div class="row">
              <div class="element">
                <img
                  class="icon"
                  src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/icon-3.svg"
                />
                <div class="details">
                  <div class="number">2,245,341</div>
                  <div class="label">Members</div>
                </div>
              </div>
              <div class="element">
                <img
                  class="icon"
                  src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/icon-2.svg"
                />
                <div class="details">
                  <div class="number">46,328</div>
                  <div class="label">Clubs</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="element">
                <img
                  class="icon"
                  src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/icon-1.svg"
                />
                <div class="details">
                  <div class="number">828,867</div>
                  <div class="label">Event Bookings</div>
                </div>
              </div>
              <div class="element">
                <img
                  class="icon"
                  src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/icon.svg"
                />
                <div class="details">
                  <div class="number">1,926,436</div>
                  <div class="label">Payments</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame">
          <p class="text-wrapper-3">The unseen of spending three years at Pixelgrade</p>
          <p class="when-joining-the">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo ipsum. Sed accumsan quam vitae
            est varius fringilla. Pellentesque placerat vestibulum lorem sed porta. Nullam mattis tristique iaculis.
            Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar, aliquam quam vitae, tempus sem.
            Donec elementum pulvinar odio.
          </p>
        </div>
        <button class="button-wrapper">
          <button class="button"><div class="label-2">Learn More</div></button>
        </button>
        <div class="dot">
          <div class="ellipse"></div>
          <div class="ellipse-2"></div>
          <div class="ellipse-2"></div>
        </div>
        <div class="overlap-2">
          <div class="links">
            <div class="col">
              <div class="text-wrapper-4">Company</div>
              <div class="list-items">
                <div class="text-wrapper-5">About us</div>
                <div class="text-wrapper-6">Blog</div>
                <div class="text-wrapper-6">Contact us</div>
                <div class="text-wrapper-6">Pricing</div>
                <div class="text-wrapper-6">Testimonials</div>
              </div>
            </div>
            <div class="col">
              <div class="text-wrapper-4">Support</div>
              <div class="list-items">
                <div class="text-wrapper-5">Help center</div>
                <div class="text-wrapper-6">Terms of service</div>
                <div class="text-wrapper-6">Legal</div>
                <div class="text-wrapper-6">Privacy policy</div>
                <div class="text-wrapper-6">Status</div>
              </div>
            </div>
            <div class="col-2">
              <div class="text-wrapper-4">Stay up to date</div>
              <div class="email-input-field">
                <div class="overlap-group-3">
                  <img
                    class="essential-icons-send"
                    src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/essential-icons---send.svg"
                  />
                  <div class="text-wrapper-7">Your email address</div>
                </div>
              </div>
            </div>
          </div>
          <div class="social-links">
            <img
              class="social-icons"
              src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/social-icons-3.svg"
            />
            <img
              class="social-icons"
              src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/social-icons-2.svg"
            />
            <img
              class="social-icons"
              src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/social-icons-1.svg"
            />
            <img
              class="social-icons-2"
              src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/social-icons.svg"
            />
          </div>
        </div>
         <header class="header">
        <nav class="navbar">
            <div class="home-login-community">
                <div class="text-wrapper-8"><a href="/">Home</a></div>
                <div class="text-wrapper-9"><a href="/login">Log in</a></div>
                <div class="text-wrapper-10"><a href="#">Community</a></div>
            </div>
            <div class="down-wrapper">
               <a href="/signup"> <img class="down" src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/down@2x.png" alt="Dropdown Icon">
               </a>
            </div>
            <div class="log-in-box">
             <a href="/login"> <img src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/log-in-box@2x.png" alt="Login Box">
              </a>
            </div>
            <div class="haltura-logo">
                <img src="https://generation-sessions.s3.amazonaws.com/abd489b92c6507e146660b533fa9e868/img/haltura-logo@2x.png" alt="Haltura Logo">
            </div>
        </nav>
    </header>
      </div>
    </div>
  </body>
</html>