<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/globals.css" />
    <link rel="stylesheet" href="../static/styleguide.css" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="macbook-pro">
      <div class="div">
        <header class="header">
          <div class="right-menu">
            <div class="header-menu">
              <div class="menu"><div class="why-justgo">Home</div></div>
              <div class="menu"><div class="text-wrapper">Features</div></div>
              <div class="menu"><div class="text-wrapper">Community</div></div>
              <div class="menu"><div class="why-justgo-2">Blog</div></div>
              <div class="menu"><div class="why-justgo-2">Pricing</div></div>
            </div>
            <button class="button">
              <div class="label">Register Now</div>
              <img
                class="element-arrows-directions"
                src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/16-arrows---directions-right.svg"
              />
            </button>
          </div>
        </header>
        <img
          class="group"
          src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/group-3@2x.png"
        />
        <div class="mobile-login-pana">
          <div class="overlap">
            <img
              class="background-complete"
              src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/background-complete@2x.png"
            />
            <img
              class="background-simple"
              src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/background-complete@2x.png"
            />
          </div>
          <div class="overlap-group">
            <img
              class="floor"
              src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/floor@2x.png"
            />
            <img
              class="plant"
              src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/plant@2x.png"
            />
            <img
              class="padlock"
              src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/padlock@2x.png"
            />
            <div class="device">
              <div class="overlap-group-2">
                <img
                  class="vector"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-28.svg"
                />
                <img
                  class="img"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-27.svg"
                />
                <img
                  class="vector-2"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-26.svg"
                />
                <div class="text-wrapper-2">SING UP</div>
                <img
                  class="vector-3"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-25.svg"
                />
                <img
                  class="vector-3"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-24.svg"
                />
                <img
                  class="vector-4"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-23.svg"
                />
                <img
                  class="vector-5"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-22.svg"
                />
                <img
                  class="vector-5"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-21.svg"
                />
                <img
                  class="vector-6"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-20.svg"
                />
                <img
                  class="vector-6"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-19.svg"
                />
                <img
                  class="vector-7"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-18.svg"
                />
                <img
                  class="vector-8"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-17.svg"
                />
                <img
                  class="vector-8"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-16.svg"
                />
                <img
                  class="vector-9"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-15.svg"
                />
                <img
                  class="vector-10"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-14.svg"
                />
                <img
                  class="vector-10"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-13.svg"
                />
                <img
                  class="vector-11"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-12.svg"
                />
                <img
                  class="vector-12"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-11.svg"
                />
                <img
                  class="vector-13"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-10.svg"
                />
                <img
                  class="vector-14"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-9.svg"
                />
                <img
                  class="vector-15"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-8.svg"
                />
                <img
                  class="vector-16"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-7.svg"
                />
                <img
                  class="vector-17"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-6.svg"
                />
                <img
                  class="vector-18"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-5.svg"
                />
                <img
                  class="vector-19"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-4.svg"
                />
                <img
                  class="group-2"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/group@2x.png"
                />
                <img
                  class="vector-20"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-3.svg"
                />
                <img
                  class="vector-20"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-2.svg"
                />
                <img
                  class="vector-21"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector-1.svg"
                />
                <img
                  class="vector-21"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/vector.svg"
                />
              </div>
            </div>
            <img
              class="speech-bubble"
              src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/speech-bubble@2x.png"
            />
            <img
              class="character"
              src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/character@2x.png"
            />
          </div>
        </div>
        <p class="to-feel-free-to-work">
          <span class="span"><br /><br />To feel </span>
          <span class="text-wrapper-3">free</span>
          <span class="span"> to </span>
          <span class="text-wrapper-3">work<br /><br /></span>
        </p>
        <p class="section-title">Manage your entire community in a single system</p>
        <div class="section-title-2">Our Clients</div>
        <div class="achievements">
          <div class="section-heading">
            <div class="section-title-wrapper">
              <p class="p">
                <span class="span">Helping a local </span> <span class="text-wrapper-3">business reinvent itself</span>
              </p>
            </div>
            <p class="description">We reached here with our hard work and dedication</p>
          </div>
          <div class="counts">
            <div class="row">
              <div class="element">
                <img
                  class="icon"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/icon-5.svg"
                />
                <div class="details">
                  <div class="number">2,245,341</div>
                  <div class="label-2">Members</div>
                </div>
              </div>
              <div class="element">
                <img
                  class="icon"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/icon-4.svg"
                />
                <div class="details">
                  <div class="number">46,328</div>
                  <div class="label-2">Clubs</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="element">
                <img
                  class="icon"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/icon-3.svg"
                />
                <div class="details">
                  <div class="number">828,867</div>
                  <div class="label-2">Event Bookings</div>
                </div>
              </div>
              <div class="element">
                <img
                  class="icon"
                  src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/icon-2.svg"
                />
                <div class="details">
                  <div class="number">1,926,436</div>
                  <div class="label-2">Payments</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="clients-logos"
          src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/clients-logos.svg"
        />
        <p class="description-2">We have been working with some Fortune 500+ clients</p>
        <p class="description-3">Who is Nextcent suitable for?</p>
        <div class="frame">
          <p class="text-wrapper-4">The unseen of spending three years at Pixelgrade</p>
          <p class="when-joining-the">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo ipsum. Sed accumsan quam vitae
            est varius fringilla. Pellentesque placerat vestibulum lorem sed porta. Nullam mattis tristique iaculis.
            Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar, aliquam quam vitae, tempus sem.
            Donec elementum pulvinar odio.
          </p>
        </div>
        <button class="button-wrapper">
          <button class="label-wrapper"><div class="label-3">Learn More</div></button>
        </button>
        <div class="dot">
          <div class="ellipse"></div>
          <div class="ellipse-2"></div>
          <div class="ellipse-2"></div>
        </div>
        <div class="footer-big">
          <div class="company-info">
            <div class="logo">
              <img
                class="icon-2"
                src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/icon-1.svg"
              />
              <img
                class="nexcent"
                src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/nexcent.svg"
              />
            </div>
            <div class="copyright">
              <p class="text-wrapper-5">Copyright © 2020 Landify UI Kit.</p>
              <div class="text-wrapper-6">All rights reserved</div>
            </div>
            <div class="social-links">
              <img
                class="social-icons"
                src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/social-icons-3.svg"
              />
              <img
                class="social-icons"
                src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/social-icons-2.svg"
              />
              <img
                class="social-icons"
                src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/social-icons-1.svg"
              />
              <img
                class="social-icons"
                src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/social-icons.svg"
              />
            </div>
          </div>
          <div class="links">
            <div class="col">
              <div class="text-wrapper-7">Company</div>
              <div class="list-items">
                <div class="text-wrapper-8">About us</div>
                <div class="text-wrapper-9">Blog</div>
                <div class="text-wrapper-9">Contact us</div>
                <div class="text-wrapper-9">Pricing</div>
                <div class="text-wrapper-9">Testimonials</div>
              </div>
            </div>
            <div class="col">
              <div class="text-wrapper-7">Support</div>
              <div class="list-items">
                <div class="text-wrapper-8">Help center</div>
                <div class="text-wrapper-9">Terms of service</div>
                <div class="text-wrapper-9">Legal</div>
                <div class="text-wrapper-9">Privacy policy</div>
                <div class="text-wrapper-9">Status</div>
              </div>
            </div>
            <div class="col-2">
              <div class="text-wrapper-7">Stay up to date</div>
              <div class="email-input-field">
                <div class="overlap-group-3">
                  <img
                    class="essential-icons-send"
                    src="https://generation-sessions.s3.amazonaws.com/706c9b33a349b7846882d501f2f32a4e/img/essential-icons---send.svg"
                  />
                  <div class="text-wrapper-10">Your email address</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
